<!DOCTYPE html>
<html lang="en">
<%- include('../admin-partials/head.ejs') %>

    <body class="sb-nav-fixed">
        <%- include('../admin-partials/nav.ejs') %>
            <div id="layoutSidenav">
                <%- include('../admin-partials/sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <div class="container-fluid px-4">
                                <h1 class="mt-4">Users</h1>
                                <ol class="breadcrumb mb-4">
                                    <li class="breadcrumb-item active">For Modify and Delete users just click the
                                        corresponding table row</li>
                                </ol>



                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <i class="fa-solid fa-user"></i>
                                                User Info
                                            </div>
                                            <div class="card-body">


                                                <form action="/admin/users/<%= users._id %>" method="post">
                                                    <% if(message.length> 0){ %>
                                                        <div class="alert alert-success">
                                                            Notification Area: <%= message %>
                                                        </div>
                    
                                                        <% } else { %>
                                                            <div class="alert alert-warning">
                                                                Notification Area: <%= message %> 
                                                            </div>
                                                            <% } %>
                                                    <div class="form-group">
                                                      <label for="username" class="label-left">UserName</label>
                                                      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" value="<%= users.username %>">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="password" class="label-left">Password</label>
                                                      <input type="password" class="form-control" id="password" name="password" value="<%= users.password %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="squestion" class="label-left">Security Question</label>
                                                        <textarea class="form-control" id="squestion" name="squestion" rows="3" ><%= users.squestion %></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sanswer" class="label-left">Security Question Answer</label>
                                                        <input type="password" class="form-control" id="sanswer" name="sanswer" value="<%= users.sanswer %>">
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="status" class="label-left">Status</label>
                                                        <select class="form-control" id="status" name="status">
                                                          <option><%= users.status %></option>
                                                          <option>Activate</option>
                                                          <option>Deactivate</option>
                                                        </select>
                                                      </div>
                                                      <hr>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                  </form>
                                                



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </main>
                    </div>
            </div>






            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="/admin-side/scripts.js"></script>
    </body>

</html>