<!DOCTYPE html>
<html lang="en">
<%- include('../admin-partials/head.ejs') %>

    <body class="sb-nav-fixed">
        <%- include('../admin-partials/nav.ejs') %>
            <div id="layoutSidenav">
                <%- include('../admin-partials/sidebar.ejs') %>
                    <div id="layoutSidenav_content">
                        <main>
                            <div class="container-fluid px-4">
                                <h1 class="mt-4">Users</h1>
                                <ol class="breadcrumb mb-4">
                                    <li class="breadcrumb-item active">Modify, Delete, Add Users</li>
                                </ol>



                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <i class="fa-solid fa-user"></i>
                                                Users List
                                            </div>
                                            <div class="card-body">
                                                <a href="/admin/users/create">
                                                <button type="button" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add User</button><hr>
                                                </a>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">Username</th>
                                                            <th scope="col">Password</th>
                                                            <th scope="col">Security Question</th>
                                                            <th scope="col">Question Answer</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(users.length > 0) {%>
                                                        <% users.forEach(user => { %>
                                                        <tr>
                                                            <td scope="row"><%= user._id %></td>
                                                            <td><%= user.username %></td>
                                                            <td><%= user.password %></td>
                                                            <td><%= user.squestion %></td>
                                                            <td><%= user.sanswer %></td>
                                                            <td><%= user.status %></td>
                                                            <td><a class="delete" data-doc="<%= user._id %>"><button
                                                                type="button"
                                                                class="btn btn-danger">Delete</button></a>
                                                        </tr>
                                                        <%})%>
                                                        <%} else  {%>
                                                            <tr>
                                                                <td scope="row">No Data Found</td>
                                                                <td>No Data Found</td>
                                                                <td>No Data Found</td>
                                                                <td>No Data Found</td>
                                                                <td>No Data Found</td>
                                                                <td>No Data Found</td>
                                                                <td>No Data Found</td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </main>
                    </div>
            </div>

                        <!-- JSON FOR DELETE REQUEST -->
                        <script>
                            const trashcan = document.querySelector('a.delete');
            
                            trashcan.addEventListener('click', (e) => {
                                const endpoint = `/users/${trashcan.dataset.doc}`;
            
                                fetch(endpoint, {
                                    method: 'DELETE'
                                })
                                    .then((response) => response.json())
                                    .then((data) => window.location.href = data.redirect)
                                    .catch(err => console.log(err));
                            })
                        </script>
            






            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
            <script src="/admin-side/scripts.js"></script>
    </body>

</html>